<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:api_code]} type="text" label="Api code" />
  <.input field={f[:asic_model]} type="text" label="Asic model" />
  <.input field={f[:ip]} type="text" label="Ip" />
  <:actions>
    <.button>Save Asic miner</.button>
  </:actions>
</.simple_form>
