<.header>
  Edit Asic miner {@asic_miner.id}
  <:subtitle>Use this form to manage asic_miner records in your database.</:subtitle>
</.header>

<.asic_miner_form changeset={@changeset} action={~p"/asic_miners/#{@asic_miner}"} />

<.back navigate={~p"/asic_miners"}>Back to asic_miners</.back>
