<.header>
  New Asic miner
  <:subtitle>Use this form to manage asic_miner records in your database.</:subtitle>
</.header>

<.asic_miner_form changeset={@changeset} action={~p"/asic_miners"} />

<.back navigate={~p"/asic_miners"}>Back to asic_miners</.back>
