<div class="flex items-center justify-between">
  <h3 class="text-lg font-medium">ASIC Sentry Configs</h3>
  <div class="breadcrumbs hidden p-0 text-sm sm:inline">
    <ul>
      <li><a href={~p"/"} >ASIC Sentry</a></li>
      <li class="opacity-80">
        <a href={~p"/configs"}>Configs</a>
      </li>
    </ul>
  </div>
</div>
